label {
  margin-top: 5px;
  color: #000000;
  font-style: normal;
  font-weight: normal
}

.form-check-input {
  margin-left: -1.25rem;
  margin-right: 0.5em;
}

.form-check-label {
  margin-left: 5px;
}

.form-group {
  .row {
    margin-left: 0;
    margin-right: 0;

    label {
      margin-right: 1em;
    }
  }
}

.required {
  color: red;
}
