<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
        <label i18n>Filter</label>
        <input (keyup)="filterInputChanged($event.target.value)" type="text" class="form-control" placeholder="Name" i18n-placeholder/>
    </div>
    <table class="table table-striped table-hover table-bordered">
        <caption class="hidden" i18n>Organizations</caption>
        <thead>
        <tr>
            <th scope="col"></th>
            <th class="pointer" scope="col" i18n>Name</th>
            <th class="pointer" scope="col" i18n>Website</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let legalEntity of legalEntities" (click)="selectLegalEntity(legalEntity._id)" class="pointer">
            <th scope="row">
                <input type="checkbox" class="pt-2 pb-1 my-0" [checked]="f.legalEntity.value === legalEntity._id">
            </th>
            <td>{{ legalEntity.name }}</td>
            <td>{{ legalEntity.website }}</td>
        </tr>
        </tbody>
    </table>
    <hr>
    <button class="btn btn-primary btn-lg mr-3 mb-1" type="submit" i18n>Join</button>
</form>
