<div class="container-fluid">
    <app-navbar locationClass="form"></app-navbar>
    <div class="row form-header">
        <div class="col-1">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-6">
            <div>
                <h3>View Sensors</h3>
            </div>
            <hr>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th class= "pointer" scope="col" (click)="sortByAttribute('name')">Name<i class="fas fa-sort ml-2"></i></th>
                    <th class= "pointer" scope="col" (click)="sortByAttribute('typeName')">Type<i class="fas fa-sort ml-2"></i></th>
                    <th class= "pointer" scope="col" (click)="sortByAttribute('active')">Active<i class="fas fa-sort ml-2"></i></th>
                    <th class= "pointer" scope="col" (click)="sortByAttribute('manufacturer')">Manufacturer<i class="fas fa-sort ml-2"></i></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let sensor of sensors; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ sensor.name }}</td>
                    <td>{{ sensor.typeName[0] }}</td>
                    <td>{{ sensor.active }}</td>
                    <td>{{ sensor.manufacturer }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-5" style="height: 88vh; max-height: 88vh">
            <app-map searchBarHeight="3vh"></app-map>
        </div>
    </div>
</div>
