<div class="container-fluid">
    <app-navbar locationClass="form"></app-navbar>
    <div class="row form-header">
        <div class="col-1">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h3>
                        <span i18n>My Devices</span>
                    </h3>
                </div>
                <div class="col-md-6 col-sm-12">
                    <a type="button" class="btn btn-primary float-right" (click)="registerDevice()">
                        <span class="mr-2" i18n>Register Device</span>
                        <fa-icon icon="plus" class="ml-1"></fa-icon>
                    </a>
                </div>
            </div>
            <hr>
            <table class="table table-striped table-hover table-bordered" aria-label="Table of devices">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th class="pointer w-30 hover-shadow" scope="col" (click)="setSort('name')">
                        <span i18n>Name</span>
                        <fa-icon [icon]="getSortClass('name')" class="ml-2"></fa-icon>
                    </th>
                    <th class="pointer w-20 hover-shadow" scope="col" (click)="setSort('category')">
                        <span i18n>Category</span>
                        <fa-icon [icon]="getSortClass('category')" class="ml-2"></fa-icon>
                    </th>
                    <th class="pointer w-25 hover-shadow" scope="col" (click)="setSort('connectivity')">
                        <span i18n>Connectivity</span>
                        <fa-icon [icon]="getSortClass('connectivity')" class="ml-2"></fa-icon>
                    </th>
                    <th class="w-15" scope="col">
                        <span i18n>Actions</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let device of devices; let i = index" class="pointer">
                    <th scope="row" (click)="selectDevice(device)">{{ i + 1 }}</th>
                    <td (click)="selectDevice(device)">{{ device.name }}</td>
                    <td (click)="selectDevice(device)">{{ getCategoryTranslation(device.category) }}</td>
                    <td (click)="selectDevice(device)">{{ device.connectivity }}</td>
                    <td class="px-1 pt-1 pb-0 m-0">
                        <button type="button" class="btn btn-primary btn-sm mx-1 my-1" (click)="editDevice(device._id)">
                                <fa-icon icon="pencil-alt"></fa-icon>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm mx-0 my-1" (click)="deleteDevice(device._id)">
                            <fa-icon icon="trash-alt"></fa-icon>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav class="d-flex justify-content-center">
                <ul class="pagination mb-0">
                    <li class="page-item" (click)="getPreviousPage()">
                        <fa-icon icon="chevron-left" class="page-link"></fa-icon>
                    </li>
                    <li class="page-item active">
                        <span class="page-link content">{{ pageIndex + 1}}</span>
                    </li>
                    <li class="page-item" (click)="getNextPage()">
                        <fa-icon icon="chevron-right" class="page-link"></fa-icon>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-5" style="height: 85vh; max-height: 85vh">
            <app-map searchBarHeight="1.5rem"></app-map>
        </div>
    </div>
</div>
