<div class="container-fluid">
    <div class="row">
        <ul class="col-lg-12 nav nav-pills navbar">
            <span class="header">SensRNet Registration App</span>
            <li *ngIf="!environment.isReadonly" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">Owner</a>
                <ul class="dropdown-menu">
                    <!-- <li><a role="button" data-toggle="collapse" data-target="#registerOwnerForm">Register owner</a></li> -->
                    <li><a role="button" (click)="togglePane('OwnerUpdate')">Update owner</a></li>
                </ul>
            </li>
            <li *ngIf="!environment.isReadonly" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">Sensor</a>
                <ul class="dropdown-menu">
                    <li><a role="button" (click)="togglePane('SensorRegister')">Register sensor</a>
                    </li>
                    <li><a role="button" (click)="togglePane('SensorUpdate')">Update sensor</a></li>
                </ul>
            </li>
            <li *ngIf="!environment.isReadonly" class="dropdown logout">
                <a class="dropdown-toggle" (click)="logout()" role="button" aria-haspopup="true"
                    aria-expanded="false">Logout</a>
            </li>

            <div class="logo">
                <img alt="logo " src="assets\SensRNet-logo.png" width="150px" class="image">
            </div>
        </ul>
    </div>

    <div *ngIf="!environment.isReadonly" class="row">
        <div [ngbCollapse]="!paneOwnerUpdateActive" class="app-form">
            <app-owner-update [active]="paneOwnerUpdateActive" (closePane)="toggleOwnerUpdatePane(false)">
            </app-owner-update>
        </div>
    </div>

    <div *ngIf="!environment.isReadonly" class="row">
        <div [ngbCollapse]="!paneSensorRegisterActive" class="app-form">
            <app-sensor-register [active]="paneSensorRegisterActive"></app-sensor-register>
        </div>
    </div>

    <div *ngIf="!environment.isReadonly" class="row">
        <div [ngbCollapse]="!paneSensorUpdateActive" class="app-form">
            <app-sensor-update [sensor]="selectedSensor" [active]="paneSensorUpdateActive"
                (closePane)="toggleSensorUpdatePane(false)"></app-sensor-update>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12" id="right-form">
            <div id="search">
                <div class="row" id="search-background">
                    <a id="search-header" role="button" data-toggle="collapse" data-target="#searchForm"><span
                            class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</a>
                    <div class="collapse col-lg-12" id="searchForm">
                        <ggc-search (searchComponentEventEmitter)="handleEvent($event)"></ggc-search>
                    </div>
                </div>
            </div>
            <div id="layers">
                <div class="row" id="layers-background">
                    <a id="layer-header" role="button" data-toggle="collapse" data-target="#layersForm"><span
                            class="glyphicon glyphicon-globe" aria-hidden="true"></span> Layers</a>
                    <div class="collapse col-lg-12" id="layersForm">
                        <ggc-dataset-tree [themes]="myLayers"
                            (datasetTreeEventEmitter)="handleDatasetTreeEvents($event)"
                            [currentMapResolution]="currentMapResolution" [iconCollapsed]="iconCollapsed"
                            [iconExpanded]="iconExpanded" [iconChecked]="iconChecked" [iconUnchecked]="iconUnchecked"
                            [iconInfoUrl]="iconInfoUrl" [hideTree]="hideTreeDataset"></ggc-dataset-tree>
                    </div>
                </div>
            </div>
            <div id="info">
                <div class="row" id="info-background">
                    <a id="info-header" role="button"><span class="glyphicon glyphicon-info-sign"
                            aria-hidden="true"></span>
                        Feature info</a>
                    <div [ngClass]="{'show': showInfo}" class="collapse col-lg-12" id="infoForm">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td><strong>Name</strong></td>
                                    <td><em>{{ activeFeatureInfo?.name }}</em></td>
                                </tr>
                                <tr>
                                    <td><strong>Sensortype</strong></td>
                                    <td><em>{{ activeFeatureInfo?.typeName }}</em></td>
                                </tr>
                                <tr>
                                    <td><strong>Active</strong></td>
                                    <td><em>{{ activeFeatureInfo?.active }}</em></td>
                                </tr>
                                <tr>
                                    <td><strong>Aim</strong></td>
                                    <td><em>{{ activeFeatureInfo?.aim }}</em></td>
                                </tr>
                                <tr>
                                    <td><strong>Description</strong></td>
                                    <td><em>{{ activeFeatureInfo?.description }}</em></td>
                                </tr>
                                <tr>
                                    <td><strong>Manufacturer</strong></td>
                                    <td><em>{{ activeFeatureInfo?.manufacturer }}</em></td>
                                </tr>
                                <tr>
                                    <td><strong>Theme</strong></td>
                                    <td>
                                        <em>
                                            <ul style="list-style-type: circle">
                                                <li *ngFor="let item of activeFeatureInfo?.theme">
                                                    {{item}}
                                                </li>
                                            </ul>
                                        </em>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="backgroundmap">
            <ggc-map [mapName]="'srn'" (events)="handleMapEvents($event)" [maxZoomlevel]="20"></ggc-map>
            <ggc-mouse-position [mapName]="'srn'"></ggc-mouse-position>
            <ggc-wmts-layer *ngFor="let dataset of activeWmtsDatasets" [layerName]="dataset.services[0].layers[0].name"
                [url]="dataset.services[0].url" [layer]="dataset.services[0].layers[0].technicalName"
                [mapName]="mapName" [minResolution]="dataset.services[0].layers[0].minResolution"
                [maxResolution]="dataset.services[0].layers[0].maxResolution"
                [zIndex]="dataset.services[0].layers[0].zIndex"
                [attributions]="dataset.services[0].layers[0].attributions">
            </ggc-wmts-layer>
            <ggc-wms-layer *ngFor="let dataset of activeWmsDatasets" [layerName]="dataset.services[0].layers[0].name"
                [url]="dataset.services[0].url" [layers]="dataset.services[0].layers[0].technicalName"
                [mapName]="mapName" [attributions]="dataset.services[0].layers[0].attributions"
                [minResolution]="dataset.services[0].layers[0].minResolution"
                [maxResolution]="dataset.services[0].layers[0].maxResolution"
                [zIndex]="dataset.services[0].layers[0].zIndex">
            </ggc-wms-layer>
            <ggc-map-details-container>
                <ggc-mouse-position [mapName]="'srn'"></ggc-mouse-position>
                <ggc-scale-denominator [mapName]="'srn'"></ggc-scale-denominator>
                <ggc-scale-line [mapName]="'srn'"></ggc-scale-line>
            </ggc-map-details-container>
        </div>
    </div>
</div>