.navbar {
  position: absolute;
  z-index: 20;
  width: 27vw;
  height: 13vh;
  background-color: rgba(19, 65, 115, 0.8);
  box-shadow: 0 10px 10px -5px grey;
  padding: 0px 0px 0px 0px;
  border-radius: 0px;
}

.logo {
  position: absolute;
  z-index: 10;
  left: 90vw;
  padding: 0px 0px 0px 0px;
  margin: 9px 0px 0px 0px;
}

.ol-overlaycontainer-stopevent .ol-zoom {
  top: auto;
  right: .5em;
  bottom: .5em;
  left: auto;
}

.ol-overlaycontainer-stopevent .ol-rotate {
  top: auto;
  right: .5em;
  bottom: 6.1em;
  left: auto;
}

.ol-overlaycontainer-stopevent .locate {
  top: auto;
  right: .5em;
  bottom: 4.1em;
  left: auto;
}

td {
  border-top: 0px !important;
}

#registerSensorForm, #registerOwnerForm {
  position: absolute;
  top: 14vh;
  height: 86vh;
  z-index: 10;
  width: 27vw;
  background-color: #ffffff;
  box-shadow: 0 10px 10px -5px grey;
}

#right-form {
  position: absolute;
  left: 80%;
  width: 20%;
  top: 20vh;
  z-index: 100;
}

#layer-header, #search-header, #info-header {
  float: left;
  color: rgb(19, 65, 115);
  background-color: #ffffff;
  font-weight: lighter;
  font-size: 15px;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#infoForm, #layersForm, #searchForm {
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  margin-right: 0px;
}

#layers, #search, #info {
  margin-bottom: 10px;
}

#search-background, #layers-background, #info-background {
  background-color: #ffffff;
}

.form-control {
  width: 24vw;
  border-radius: 4px !important;
}

.feature-info {
  position: absolute;
  z-index: 20;
  width: 30vw;
  top: 20vh;
}

.backgroundmap {
  width: 100vw;
  height: 100vh;
}

.dropdown-menu {
  font-size: 14px;
  font-style: normal;
}

.navbar-brand {
  font-weight: normal;
  font-size: 30px;
  height: 40px;
  color: white;
  margin-top: 5px;
}

.dropdown {
  margin-top: 5px;
}

.dropdown-toggle {
  color: white;
}

.open > .dropdown-toggle,
.dropdown-toggle:hover {
  color: rgb(19, 65, 115);
}

td {
  border-top: 0px !important;
}

label {
  margin-top: 5px;
  color: #000000;
  font-style: normal;
  font-weight: normal;
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: 0.4em;
}

textarea {
  font-size: 1em;
  padding-left: 0.4em;
}

input::placeholder, textarea::placeholder {
  font-weight: lighter;
  font-style: oblique;
  font-size: 12px;
}

.invalid-input {
  color: #FF0000;
  font-weight: lighter;
  font-style: italic;
  font-size: 10px;
}
