<div class="container-fluid">
    <div class="row">
        <ul class="col-lg-12 nav nav-pills navbar">
            <span class="header">SensRNet Registration App</span>
            <!-- <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">Owner<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <! -- <li><a role="button" data-toggle="collapse" data-target="#registerOwnerForm">Register owner</a></li> -- >
                    <li><a role="button" (click)="togglePane('OwnerUpdate')">Update owner</a></li>
                </ul>
            </li> -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">Sensor<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a role="button" (click)="togglePane('SensorRegister')">Register sensor</a>
                    </li>
                    <li><a role="button" (click)="togglePane('SensorUpdate')">Update sensor</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" (click)="logout()" role="button" aria-haspopup="true"
                    aria-expanded="false">Logout</a>
            </li>
        </ul>

        <div class="col-lg-1 logo">
            <img src="assets\SensRNet-logo.png" width="145px" class="image">
        </div>
    </div>

    <div class="row">
        <div id="registerSensorForm" [ngbCollapse]="!paneSensorRegisterActive" class="app-form pl-1 pr-1">
            <h3>Register Sensor</h3>
            <hr>
            <form [formGroup]="RegisterSensor" (ngSubmit)="submitRegisterSensor()">
                <div class="form-group">
                    <label> Name <span class="required">*</span>
                    </label>
                    <input class="form-control" type="text" formControlName="name" placeholder="Enter name"
                        [ngClass]="{ 'is-invalid': (form.name.dirty || form.name.touched) && form.name.errors }">
                    <div *ngIf="(form.name.dirty || form.name.touched || registerSensorSubmitted) && form.name.errors"
                        class="invalid-input">
                        <span *ngIf="form.name.errors.required">Name is required</span>
                        <span *ngIf="form.name.errors.minlength">Name must be at least 6 characters</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="aim">Aim</label>
                    <input type="text" class="form-control" formControlName="aim" placeholder="Aim of the sensor">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" type="text" formControlName="description"
                        placeholder="Describe the sensor"></textarea>
                </div>
                <div class="form-group">
                    <label for="manufacturer"> Manufacturer <span class="required">*</span></label>
                    <input class="form-control" type="text" formControlName="manufacturer"
                        placeholder="Enter name of the manufacturer">
                    <div *ngIf="(form.manufacturer.dirty || form.manufacturer.touched || registerSensorSubmitted) && form.manufacturer.errors"
                        class="invalid-input">
                        <span *ngIf="form.manufacturer.errors.required">Manufacturer is required</span>
                    </div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" formControlName="active">
                    <label class="form-check-label" for="active">
                        Active
                    </label>
                </div>
                <div class="form-group">
                    <label for="documentationUrl">Documentation URL <span class="required">*</span></label>
                    <input class="form-control" type="url" formControlName="documentationUrl"
                        placeholder="url of documentationUrl">
                    <div *ngIf="(form.documentationUrl.dirty || form.documentationUrl.touched || registerSensorSubmitted) && form.documentationUrl.errors"
                        class="invalid-input">
                        <span *ngIf="form.documentationUrl.errors.required">Documentation is required</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="typeName">Select category <span class="required">*</span></label>
                    <select data-container="body" class="form-control" formControlName="typeName">
                        <option *ngFor="let type of sensorCategoriesList" [value]="type">
                            {{sensorCategories[type]}}
                        </option>
                    </select>
                    <div *ngIf="(form.typeName.dirty || form.typeName.touched || registerSensorSubmitted) && form.typeName.errors"
                        class="invalid-input">
                        <span *ngIf="form.typeName.errors.required">Type is required</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="typeDetailsName">Select {{ RegisterSensor.value.typeName }} type <span
                            class="required">*</span></label>
                    <select class="form-control" data-container="body" formControlName="typeDetailsName">
                        <option *ngFor="let type of typeDetailsList" [value]="type">
                            {{type}}
                        </option>
                    </select>
                    <div *ngIf="(form.typeDetailsName.dirty || form.typeDetailsName.touched || registerSensorSubmitted) && form.typeDetailsName.errors"
                        class="invalid-input">
                        <span *ngIf="form.typeDetailsName.errors.required">Type details are required</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="theme">Select theme <span class="required">*</span></label>
                    <ng-multiselect-dropdown [placeholder]="'Choose the theme'" [data]="sensorThemesList"
                        [settings]="dropdownSettings" (onSelect)="onSelectTheme($event)" (onDeSelect)="onDeselectTheme($event)">
                    </ng-multiselect-dropdown>
                    <div *ngIf="(form.theme.dirty || form.theme.touched || registerSensorSubmitted) && form.theme.errors"
                        class="invalid-input">
                        <span *ngIf="form.theme.errors.required">Theme is required</span>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="location">Select Location <span class="required">*</span></label>
                    <button type="button" class="btn btn-sm" (click)="SelectLocationOn()"> Select </button>
                    <div *ngIf="(form.location.dirty || form.location.touched || registerSensorSubmitted) && form.location.errors"
                        class="invalid-input">
                        <span *ngIf="form.location.errors.required">Location is required</span>
                    </div>
                </div>
                <hr>
                <button class="btn btn-primary btn-lg" type="submit">
                    Register
                </button>
                <span class="glyphicon alert-success" aria-hidden="true"
                    [ngClass]="{'glyphicon-check': registerSensorSent}"></span>
            </form>
        </div>
    </div>

    <div class="row">
        <div id="updateSensorForm" [ngbCollapse]="!paneSensorUpdateActive" class="col-lg-12 app-form">
            <div class="form-inside">
                <app-sensor-update [sensor]="selectedSensor"></app-sensor-update>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="registerOwnerForm" [ngbCollapse]="!paneOwnerRegisterActive" class="collapse col-lg-12 app-form">
            <div class="form-inside">
                <form [formGroup]="RegisterOwner" (ngSubmit)="submitCreateOwner()">
                    <div class="input-group">
                        <label> Email
                            <input class="form-control" type="text" formControlName="email"
                                placeholder="Enter contact email address">
                        </label>
                        <br>
                        <label> Public name
                            <input class="form-control" type="text" formControlName="publicName"
                                placeholder="Visible name">
                        </label>
                        <br>
                        <label> Name
                            <input class="form-control" type="text" formControlName="name" placeholder="Contact name">
                        </label>
                        <br>
                        <label> Company name
                            <input class="form-control" type="text" formControlName="companyName"
                                placeholder="Enter name of organisation">
                        </label>
                        <br>
                        <label> Website
                            <input class="form-control" type="text" formControlName="website"
                                placeholder="Enter website of the organisation">
                        </label>
                        <hr>
                        <button class="btn btn-primary btn-lg" type="submit" [disabled]="!RegisterSensor.valid">Register
                        </button>
                        <span class="glyphicon alert-success" aria-hidden="true"
                            [ngClass]="{'glyphicon-check': registerOwnerSent}"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" id="right-form">
            <div id="search">
                <div class="row" id="search-background">
                    <a id="search-header" role="button" data-toggle="collapse" data-target="#searchForm"><span
                            class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</a>
                    <div class="collapse col-lg-12" id="searchForm">
                        <ggc-search (searchComponentEventEmitter)="handleEvent($event)"></ggc-search>
                    </div>
                </div>
            </div>
            <div id="layers">
                <div class="row" id="layers-background">
                    <a id="layer-header" role="button" data-toggle="collapse" data-target="#layersForm"><span
                            class="glyphicon glyphicon-globe" aria-hidden="true"></span> Layers</a>
                    <div class="collapse col-lg-12" id="layersForm">
                        <ggc-dataset-tree [themes]="myLayers"
                            (datasetTreeEventEmitter)="handleDatasetTreeEvents($event)"
                            [currentMapResolution]="currentMapResolution" [iconCollapsed]="iconCollapsed"
                            [iconExpanded]="iconExpanded" [iconChecked]="iconChecked" [iconUnchecked]="iconUnchecked"
                            [iconInfoUrl]="iconInfoUrl" [hideTree]="hideTreeDataset"></ggc-dataset-tree>
                    </div>
                </div>
            </div>
            <div id="info">
                <div class="row" id="info-background">
                    <a id="info-header" role="button"><span class="glyphicon glyphicon-info-sign"
                            aria-hidden="true"></span>
                        Feature info</a>
                    <div [ngClass]="{'show': showInfo}" class="collapse col-lg-12" id="infoForm">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td><strong>Name</strong></td>
                                    <td><em>{{ activeFeatureInfo?.name }}</em></td>
                                </tr>
                                <tr>
                                    <td><strong>Sensortype</strong></td>
                                    <td><em>{{ activeFeatureInfo?.typeName }}</em></td>
                                </tr>
                                <tr>
                                    <td><strong>Active</strong></td>
                                    <td><em>{{ activeFeatureInfo?.active }}</em></td>
                                </tr>
                                <tr>
                                    <td><strong>Aim</strong></td>
                                    <td><em>{{ activeFeatureInfo?.aim }}</em></td>
                                </tr>
                                <tr>
                                    <td><strong>Description</strong></td>
                                    <td><em>{{ activeFeatureInfo?.description }}</em></td>
                                </tr>
                                <tr>
                                    <td><strong>Manufacturer</strong></td>
                                    <td><em>{{ activeFeatureInfo?.manufacturer }}</em></td>
                                </tr>
                                <tr>
                                    <td><strong>Theme</strong></td>
                                    <td><em>{{ activeFeatureInfo?.theme }}</em></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="backgroundmap">
            <ggc-map [mapName]="'srn'" (events)="handleMapEvents($event)" [maxZoomlevel]="20"></ggc-map>
            <ggc-wmts-layer *ngFor="let dataset of activeWmtsDatasets" [layerName]="dataset.services[0].layers[0].name"
                [url]="dataset.services[0].url" [layer]="dataset.services[0].layers[0].technicalName"
                [mapName]="mapName" [minResolution]="dataset.services[0].layers[0].minResolution"
                [maxResolution]="dataset.services[0].layers[0].maxResolution"
                [zIndex]="dataset.services[0].layers[0].zIndex"
                [attributions]="dataset.services[0].layers[0].attributions">
            </ggc-wmts-layer>
            <ggc-wms-layer *ngFor="let dataset of activeWmsDatasets" [layerName]="dataset.services[0].layers[0].name"
                [url]="dataset.services[0].url" [layers]="dataset.services[0].layers[0].technicalName"
                [mapName]="mapName" [attributions]="dataset.services[0].layers[0].attributions"
                [minResolution]="dataset.services[0].layers[0].minResolution"
                [maxResolution]="dataset.services[0].layers[0].maxResolution"
                [zIndex]="dataset.services[0].layers[0].zIndex">
            </ggc-wms-layer>
        </div>
    </div>
</div>
