<div class="container-fluid">
  <div class="row">
      <ul class="col-lg-12 nav nav-pills navbar">
          <a class="navbar-brand">SensRNet
              Registration App</a>
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Owner<span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a role="button" data-toggle="collapse" data-target="#registerOwnerForm">Register owner</a></li>
                  <li><a>Update owner</a></li>
              </ul>
          </li>
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Sensor<span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a role="button" data-toggle="collapse" data-target="#registerSensorForm">Register sensor</a>
                  </li>
                  <li><a>Update sensor</a></li>
              </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" (click)="logout()" role="button" aria-haspopup="true"
                  aria-expanded="false">Logout</a>
          </li>
      </ul>
      <div class="col-lg-1 logo">
          <img src="assets\SensRNet-logo.png" width="145px" class="image">
      </div>
  </div>

  <div class="row">
      <div class="collapse col-lg-12" id="registerSensorForm">
          <div class="form-inside">
              <form [formGroup]="RegisterSensor" (ngSubmit)="submitCreateSensor()">
                  <div class="input-group">
                      <label> Name
                          <input class="form-control" type="text" formControlName="name" placeholder="Enter name">
                      </label>
                      <br>
                      <label> Aim
                          <input class="form-control" type="text" formControlName="aim"
                              placeholder="Aim of the sensor">
                      </label>
                      <br>
                      <label> Description
                          <textarea class="form-control" type="text" formControlName="description"
                              placeholder="Describe the sensor"></textarea>
                      </label>
                      <br>
                      <label> Manufacturer
                          <input class="form-control" type="text" formControlName="manufacturer"
                              placeholder="Enter name of the manufacturer">
                      </label>
                      <br>
                      <label>
                          <input type="checkbox" formControlName="active"> Active
                      </label>
                      <br>
                      <label> Documentation
                          <input class="form-control" type="url" formControlName="documentation"
                              placeholder="url of documentation">
                      </label>
                      <br>
                      <label> DataStreams
                          <input class="form-control" type="text" formControlName="dataStreams">
                      </label>
                      <br>
                      <br>
                      <a role="button" class="btn btn-success" (click)="startDrawPoint()">Select location</a>
                      <a role="button" class="btn btn-outline-primary" (click)="clearDrawing('srn')">Clear</a>
                      <br>
                      <hr>
                      <button class="btn btn-primary btn-lg" type="submit"
                          [disabled]="!RegisterSensor.valid">Register</button>
                      <span class="glyphicon alert-success" aria-hidden="true"
                          [ngClass]="{'glyphicon-check': registerSensorSent}"></span>
                  </div>
              </form>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="collapse col-lg-12" id="registerOwnerForm">
          <div class="form-inside">
              <form [formGroup]="RegisterOwner" (ngSubmit)="submitCreateOwner()">
                  <div class="input-group">
                      <label> Email
                          <input class="form-control" type="text" formControlName="email"
                              placeholder="Enter contact email address">
                      </label>
                      <br>
                      <label> Public name
                          <input class="form-control" type="text" formControlName="publicName"
                              placeholder="Visible name">
                      </label>
                      <br>
                      <label> Name
                          <input class="form-control" type="text" formControlName="name" placeholder="Contact name">
                      </label>
                      <br>
                      <label> Company name
                          <input class="form-control" type="text" formControlName="companyName"
                              placeholder="Enter name of organisation">
                      </label>
                      <br>
                      <label> Website
                          <input class="form-control" type="text" formControlName="website"
                              placeholder="Enter website of the organisation">
                      </label>
                      <hr>
                      <button class="btn btn-primary btn-lg" type="submit" [disabled]="!RegisterSensor.valid">Register
                      </button>
                      <span class="glyphicon alert-success" aria-hidden="true"
                          [ngClass]="{'glyphicon-check': registerOwnerSent}"></span>
                  </div>
              </form>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-lg-12" id="right-form">
          <div id="search">
              <div class="row">
                  <a id="search-header" role="button" data-toggle="collapse" data-target="#searchForm"><span
                          class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</a>
              </div>
              <div id="row">
                  <div class="collapse col-lg-12" id="searchForm">
                      <ggc-search (searchComponentEventEmitter)="handleEvent($event)"></ggc-search>
                  </div>
              </div>
          </div>
          <div id="layers">
              <div class="row">
                  <a id="layer-header" role="button" data-toggle="collapse" data-target="#layersForm"><span
                          class="glyphicon glyphicon-globe" aria-hidden="true"></span> Layers</a>
              </div>
              <div class="row">
                  <div class="collapse col-lg-12" id="layersForm">
                      <ggc-dataset-tree [themes]="myLayers" (datasetTreeEventEmitter)="handleDatasetTreeEvents($event)"
                      [currentMapResolution]="currentMapResolution" [iconCollapsed]="iconCollapsed" [iconExpanded]="iconExpanded"
                      [iconChecked]="iconChecked" [iconUnchecked]="iconUnchecked" [iconInfoUrl]="iconInfoUrl"
                      [hideTree]="hideTreeDataset"></ggc-dataset-tree>
                  </div>
              </div>
          </div>
          <div id="info">
              <div class="row">
                  <a id="info-header" role="button" data-toggle="collapse" data-target="#infoForm"><span
                          class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Feature info</a>
              </div>
              <div class="row">
                  <div class="collapse col-lg-12" id="infoForm">Test
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="backgroundmap">
          <ggc-map [mapName]="'srn'" (events)="handleMapEvents($event)"></ggc-map>
          <ggc-wmts-layer *ngFor="let dataset of activeWmtsDatasets" [layerName]="dataset.services[0].layers[0].name"
              [url]="dataset.services[0].url" [getFeatureInfoOnSingleclick]="true"
              [layer]="dataset.services[0].layers[0].technicalName" [mapName]="mapName"
              [minResolution]="dataset.services[0].layers[0].minResolution"
              [maxResolution]="dataset.services[0].layers[0].maxResolution"
              [zIndex]="dataset.services[0].layers[0].zIndex"
              [attributions]="dataset.services[0].layers[0].attributions">
          </ggc-wmts-layer>
          <ggc-wms-layer *ngFor="let dataset of activeWmsDatasets" [layerName]="dataset.services[0].layers[0].name"
              [url]="dataset.services[0].url" [layers]="dataset.services[0].layers[0].technicalName"
              [mapName]="mapName" [getFeatureInfoOnSingleclick]="true"
              [attributions]="dataset.services[0].layers[0].attributions"
              [minResolution]="dataset.services[0].layers[0].minResolution"
              [maxResolution]="dataset.services[0].layers[0].maxResolution"
              [zIndex]="dataset.services[0].layers[0].zIndex">
          </ggc-wms-layer>
      </div>
  </div>
</div>
