<div [formGroup]="form" class="form-group">

    <div class="form-group">
        <label for="typeDetails">Select type <span class="required">*</span></label>
        <select class="form-control" data-container="body" formControlName="typeDetails"
            [ngClass]="{ 'is-invalid': submitted && f.typeDetails.errors }">
            <option *ngFor="let type of typeDetailsList">
                {{type}}
            </option>
        </select>
        <div *ngIf="(f.typeDetails.dirty || f.typeDetails.touched || submitted) && f.typeDetails.errors"
            class="invalid-input">
            <span class=required-text *ngIf="f.typeDetails.errors.required">Type details are required</span>
        </div>
    </div>

    <div class="form-group">
        <label for="typeName">Category </label>
        <input class="form-control" type="text" formControlName="typeName" readonly>
    </div>

</div>