<div [formGroup]="form" class="form-group">
    <div class="form-group">
        <label for="category">Category</label>
        <select data-container="body" class="form-control" formControlName="category"
            [ngClass]="{ 'is-invalid': submitted && f.category.errors }">
            <option *ngFor="let category of sensorCategoriesList" [value]="category">
                {{sensorCategories[category]}}
            </option>
        </select>
        <div *ngIf="(f.category.dirty || f.category.touched || submitted) && f.category.errors" class="invalid-input">
            <span class="required-text" *ngIf="f.category.errors.required">Category is required</span>
        </div>
    </div>
    <div class="form-group">
        <label for="typeName">{{ f.category.value }} Type</label>
        <select class="form-control" data-container="body" formControlName="typeName"
            [ngClass]="{ 'is-invalid': submitted && f.typeName.errors }">
            <option *ngFor="let typeName of typeNameList" [value]="typeName">
                {{typeName}}
            </option>
        </select>
        <div *ngIf="(f.typeName.dirty || f.typeName.touched || submitted) && f.typeName.errors"
            class="invalid-input">
            <span class="required-text" *ngIf="f.typeName.errors.required">Type is required</span>
        </div>
    </div>
</div>
