<div [formGroup]="form" class="form-group">
    <div class="form-group">
        <label for="category" i18n>Category</label>
        <select data-container="body" class="form-control" formControlName="category"
            [ngClass]="{ 'is-invalid': submitted && f.category.errors }">
            <option *ngFor="let item of sensorCategories | keyvalue" [value]="item.key">
                {{ getCategoryTranslation(item.value) }}
            </option>
        </select>
        <div *ngIf="(f.category.dirty || f.category.touched || submitted) && f.category.errors" class="invalid-input">
            <span class="required-text" *ngIf="f.category.errors.required" i18n>Category is required</span>
        </div>
    </div>
</div>
