<nav class="navbar navbar-fixed-top" [ngClass]="locationClass">
    <span class="ml-4 mr-4 mt-0">
        <a routerLink="" class="navbar-header mx-4 text-decoration-none d-block">
            SensRNet Registration App
        </a>
    </span>
    <ul class="navbar-nav mr-auto nav nav-pills mt-1">
        <li>
            <a role="button" class="navbar-menu-item" (click)="toggleMenu()" routerLinkActive="active">
                Menu
            </a>
        </li>
        <li id="language-switcher">
            <app-language-switcher></app-language-switcher>
        </li>
    </ul>
</nav>
