<nav class="row navbar navbar-expand-md">
    <a routerLink="" class="header text-decoration-none">SensRNet Registration App</a>
    <ul class="navbar-nav mr-auto nav nav-pills">
        <li *ngIf="!environment.isReadonly">
            <a role="button" routerLink="/owner" routerLinkActive="active">Owner</a>
        </li>
        <li *ngIf="!environment.isReadonly">
            <a role="button" routerLink="/sensor" routerLinkActive="active">Sensor</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto nav nav-pills">
        <li *ngIf="!environment.isReadonly" class="dropdown logout">
            <a class="dropdown-toggle" (click)="logout()" role="button" aria-haspopup="true"
               aria-expanded="false">Logout</a>
        </li>
        <li class="nav-item">
            <img src="/assets/SensRNet-logo.png" alt="" class="d-inline-block mb-1" height="50">
        </li>
    </ul>
</nav>
