@import "../../styles";

.navbar.form {
  background-color: $light !important;

  a {
    color: $bar-text-color !important;
  }
}

.navbar {

  .navbar-brand {
    color: #606060;
    font-size: 24px;
    font-weight: bolder;

    &:hover, &:active, &:focus {
      color: #808080 !important;
    }
  }

  &:not(.form) .navbar-collapse #language-switcher {
    display: none;
  }

  .navbar-nav {
    #language-switcher {
      padding: 12px 12px 0 12px;

      ::ng-deep {
        button {
          box-shadow: none;
        }

        .dropdown-menu.show {
          position: absolute;
          margin-top: 28px;
        }
      }
    }

    .nav-link {
      color: #606060;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;

      &:hover, &:active, &:focus {
        border-radius: 10px !important;
        color: #808080 !important;
        background-color: rgba(0, 0, 0, 0) !important;
      }
    }
  }
}

.fit-content {
  width: fit-content;
}
