<div [formGroup]="form" class="form-group">
    <label for="theme">Select theme <span class="required">*</span></label>
    <ng-multiselect-dropdown formControlName="value" [placeholder]="'Choose the theme'" [data]="sensorThemesList"
        [settings]="dropdownSettings" id="theme">
    </ng-multiselect-dropdown>
    <div *ngIf="(form.controls.value.dirty || form.controls.value.touched) && form.controls.value.errors"
        class="invalid-input">
        <span *ngIf="form.controls.value.errors.required">Theme is required</span>
    </div>
</div>
