<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
        <label for="website">Website</label>
        <input type="text" formControlName="website" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.website.errors }" />
        <div *ngIf="submitted && f.website.errors" class="invalid-feedback">
            <div class="required-text" *ngIf="f.website.errors.required">Website is required</div>
            <div class="required-text" *ngIf="f.website.errors.pattern">Not a valid URL</div>
        </div>
    </div>
    <app-organization-contact [parentForm]="form"></app-organization-contact>
    <hr>
    <button class="btn btn-primary btn-lg mr-3 mb-1" type="submit">Create</button>
</form>
