<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col col-sm-4 offset-sm-8 pt-5">
                <app-language-switcher></app-language-switcher>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <h1 i18n>Welcome to SensRNet</h1>
                <div class="welcome-image">
                    <img src="assets\SensRNet-logo.png" class="image">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 offset-sm-3 pt-5">
                <button (click)="login()" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    <ng-container i18n>Login</ng-container>
                </button>
            </div>
        </div>
    </div>
</div>
