<ul class="nav nav-pills">
    <a href='https://github.com/kadaster-labs/' target="_blank" class="navbar-brand" id="header">SensRNet Registration App</a>

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">Owner <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a>Register Owner</a></li>
            <li><a>Update owner details</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">Sensor <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a>Register sensor</a></li>
            <li><a>Update sensor details</a></li>
            <li><a>Remove sensor</a></li>
            <li><a>Transfer ownership</a></li>
            <li><a>Share ownership</a></li>
            <li role="separator" class="divider"></li>
            <li><a>Deactivate sensor</a></li>
            <li><a>Activate sensor details</a></li>
            <li><a>Relocate sensor</a></li>
            <li><a>Add datastream to sensor</a></li>
            <li><a>remove datastream from sensor</a></li>
        </ul>
    </li>
</ul>