<div class="row container-fluid" id="form">
    <form [formGroup]="RegisterSensor" (ngSubmit)="onSubmit()">
        <label>
            Sensortype:
            <input type="text" formControlName="type">
        </label>
        <label>
            Latitude:
            <input type="text" formControlName="latitude">
        </label>
        <label>
            Longitude:
            <input type="text" formControlName="longitude">
        </label>
        <label>
            Height:
            <input type="text" formControlName="height">
        </label>
        <button type="submit" [disabled]="!RegisterSensor.valid">Submit</button>
    </form>
</div>