<div [formGroup]="parentForm" class="form-group row">
    <div class="col-12" *ngIf="parentForm.get('sensors')['controls'].length;else noSensors">
        <div class="col-12 m-0 p-0">
            <span i18n>Datastreams</span><span class="font-italic text-muted" i18n> - Optional</span><br>
        </div>
        <div formArrayName="sensors" *ngFor="let sensor of parentForm.get('sensors')['controls']; let i = index;" class="col-12 p-0 mx-0 mt-3 form-group">
            <div class="row py-3 bg-light border rounded" formGroupName="{{i}}">
                <div class="col-12">
                    <span>Sensor: {{ sensor.get('name').value }}</span>
                </div>
                <div class="col-12">
                    <button type="button" class="btn btn-outline-secondary mt-2" (click)="addDatastream(i)" i18n>Add Datastream</button>
                </div>
                <div class="col-12 px-0 mx-0">
                    <div class="row">
                        <div formArrayName="datastreams" *ngFor="let datastream of sensor.get('datastreams')['controls']; let j = index;" class="mt-3 col-6 form-group">
                            <div class="row py-3 border bg-white" formGroupName="{{j}}">
                                <div class="col-12">
                                    <label i18n>Name</label>
                                    <button (click)="removeDatastream(i, j)" type="button" class="close float-right" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <input formControlName="name" type="text" placeholder="Datastream name" class="form-control" i18n-placeholder>
                                    <div *ngIf="(getDatastreamElement(i, j, 'name').dirty || getDatastreamElement(i, j, 'name').touched || submitted) && getDatastreamElement(i, j, 'name').errors"
                                         class="invalid-input">
                                        <span class="required-text" *ngIf="getDatastreamElement(i, j, 'name').errors.required" i18n>Name is required</span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label><span i18n>Description</span><span class="font-italic text-muted" i18n> - Optional</span></label>
                                    <input formControlName="description" type="text" placeholder="Describe datastream" class="form-control" i18n-placeholder>
                                </div>
                                <div class="col-12">
                                    <app-sensor-theme formControlName="theme" [submitted]="submitted"></app-sensor-theme>
                                </div>
                                <div class="col-12">
                                    <label><span i18n>Data Quality</span><span class="font-italic text-muted" i18n> - Optional</span></label>
                                    <input formControlName="dataQuality" type="text" placeholder="The quality of the data" class="form-control" i18n-placeholder>
                                </div>
                                <div class="col-md-4 mt-1 text-left">
                                    <label>
                                        <input type="checkbox" formControlName="isActive" class="mr-2">
                                        <span i18n>Is Active</span>
                                    </label>
                                </div>
                                <div class="col-md-4 mt-1 text-left">
                                    <label>
                                        <input type="checkbox" formControlName="isPublic" class="mr-2">
                                        <span i18n>Is Public</span>
                                    </label>
                                </div>
                                <div class="col-md-4 mt-1 text-center">
                                    <label>
                                        <input type="checkbox" formControlName="isOpenData" class="mr-2">
                                        <span i18n>Is Open Data</span>
                                    </label>
                                </div>
                                <div class="col-md-4 mt-1">
                                    <label>
                                        <input type="checkbox" formControlName="containsPersonalInfoData" class="mr-2">
                                        <span i18n>Contains Personal Info</span>
                                    </label>
                                </div>
                                <div class="col-md-4 mt-1">
                                    <label>
                                        <input type="checkbox" formControlName="isReusable" class="mr-2">
                                        <span i18n>Is Reusable</span>
                                    </label>
                                </div>
                                <app-observed-area formControlName="observedArea" [submitted]="submitted"></app-observed-area>
                                <div class="col-12">
                                    <label><span i18n>Documentation</span><span class="font-italic text-muted" i18n> - Optional</span></label>
                                    <input formControlName="documentation" type="text" placeholder="Enter URL of documentation" class="form-control"
                                           [ngClass]="{ 'is-invalid': submitted && getDatastreamElement(i, j, 'documentation').errors }" i18n-placeholder>
                                    <div *ngIf="(getDatastreamElement(i, j, 'documentation').dirty || getDatastreamElement(i, j, 'documentation').touched || submitted) && getDatastreamElement(i, j, 'documentation').errors"
                                         class="invalid-input">
                                        <span class="required-text" *ngIf="getDatastreamElement(i, j, 'documentation').errors.pattern" i18n>Not a valid URL</span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label><span i18n>Datalink</span><span class="font-italic text-muted" i18n> - Optional</span></label>
                                    <input formControlName="dataLink" type="text" placeholder="Enter URL of data" class="form-control"
                                           [ngClass]="{ 'is-invalid': submitted && getDatastreamElement(i, j, 'dataLink').errors }" i18n-placeholder>
                                    <div *ngIf="(getDatastreamElement(i, j, 'dataLink').dirty || getDatastreamElement(i, j, 'dataLink').touched || submitted) && getDatastreamElement(i, j, 'dataLink').errors"
                                         class="invalid-input">
                                        <span class="required-text" *ngIf="getDatastreamElement(i, j, 'dataLink').errors.pattern" i18n>Not a valid URL</span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label><span i18n>Observation Goals</span><span class="font-italic text-muted" i18n> - Optional</span></label>
                                    <div class="form-control tags-input-wrapper">
                                        <span class="btn btn-primary btn-sm selected input-tag" *ngFor="let observationGoal of getDatastreamElement(i, j, 'observationGoals').value">
                                            <span class="observation-goal-wrapper">{{observationGoal.name}}<span class="close-selected" (click)="removeObservationGoal(i, j, observationGoal)">&nbsp;x</span></span>
                                        </span>
                                        <input #observationGoals type="text" class="input py-0" [resultFormatter]="formatObservationGoal" [ngbTypeahead]="search" (selectItem)="addObservationGoal(i, j, $event)" autofocus placeholder="Observation goal name..."/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #noSensors>
        <div class="row">
            <div class="col-12">
                <span>Create a sensor first!</span>
            </div>
        </div>
    </ng-template>
</div>
