@import "../../../styles";

.input {
  border: 0;
  outline: 0;
}

.selected {
  margin-right: 0.2rem;
  position: relative;
  top: -3px;
}

.observation-goal-wrapper {
  position: relative;
  top: -3px;
}

.close-selected {
  margin-left: 0.3rem;
}
