<div [formGroup]="parentForm" class="form-group row">
    <div class="col-12">
        <span i18n>Datastreams</span><span class="font-italic text-muted" i18n> - Optional</span><br>
    </div>
    <div formArrayName="sensors" *ngFor="let sensor of parentForm.get('sensors')['controls']; let i = index;" class="col-12 mt-3 form-group">
        <div class="row py-3 bg-light border rounded">
            <div class="col-12">
                <span>{{ parentForm.get('sensors.' + i + '.name').value }}</span>
            </div>

            <button type="button" class="btn btn-outline-secondary mt-2" (click)="addDataStream()" i18n>Add Datastream</button>
            <div formArrayName="dataStreams" *ngFor="let dataStream of parentForm.get('sensors.' + i + '.dataStreams')['controls']; let j = index;" class="col-6 mt-3 form-group">
                <div class="row py-3 bg-light border rounded" formGroupName="{{i-j}}">
                    <div class="col-12">
                        <label i18n>Name</label>
                        <button (click)="removeDataStream(i)" type="button" class="close float-right" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <input formControlName="name" type="text" placeholder="Datastream name" class="form-control" i18n-placeholder>
                        <div *ngIf="(getDataStreamElement(i, 'name').dirty || getDataStreamElement(i, 'name').touched || submitted) && getDataStreamElement(i, 'name').errors"
                             class="invalid-input">
                            <span class="required-text" *ngIf="getDataStreamElement(i, 'name').errors.required" i18n>Name is required</span>
                        </div>
                    </div>
                    <div class="col-12">
                        <label><span i18n>Description</span><span class="font-italic text-muted" i18n> - Optional</span></label>
                        <input formControlName="description" type="text" placeholder="Describe datastream" class="form-control" i18n-placeholder>
                    </div>
                    <div class="col-12">
                        <app-sensor-theme formControlName="theme" [submitted]="submitted"></app-sensor-theme>
                    </div>
                    <div class="col-12">
                        <label><span i18n>Data Quality</span><span class="font-italic text-muted" i18n> - Optional</span></label>
                        <input formControlName="dataQuality" type="text" placeholder="The quality of the data" class="form-control" i18n-placeholder>
                    </div>
                    <div class="col-md-4 mt-1 text-left">
                        <label>
                            <input type="checkbox" formControlName="isActive" class="mr-2">
                            <span i18n>Is Active</span>
                        </label>
                    </div>
                    <div class="col-md-4 mt-1 text-left">
                        <label>
                            <input type="checkbox" formControlName="isPublic" class="mr-2">
                            <span i18n>Is Public</span>
                        </label>
                    </div>
                    <div class="col-md-4 mt-1 text-center">
                        <label>
                            <input type="checkbox" formControlName="isOpenData" class="mr-2">
                            <span i18n>Is Open Data</span>
                        </label>
                    </div>
                    <div class="col-md-4 mt-1">
                        <label>
                            <input type="checkbox" formControlName="containsPersonalInfoData" class="mr-2">
                            <span i18n>Contains Personal Info</span>
                        </label>
                    </div>
                    <div class="col-md-4 mt-1">
                        <label>
                            <input type="checkbox" formControlName="isReusable" class="mr-2">
                            <span i18n>Is Reusable</span>
                        </label>
                    </div>
                    <div class="col-12">
                        <label><span i18n>Documentation</span><span class="font-italic text-muted" i18n> - Optional</span></label>
                        <input formControlName="documentation" type="text" placeholder="Enter URL of documentation" class="form-control"
                               [ngClass]="{ 'is-invalid': submitted && getDataStreamElement(i, 'documentation').errors }" i18n-placeholder>
                        <div *ngIf="(getDataStreamElement(i, 'documentation').dirty || getDataStreamElement(i, 'documentation').touched || submitted) && getDataStreamElement(i, 'documentation').errors"
                             class="invalid-input">
                            <span class="required-text" *ngIf="getDataStreamElement(i, 'documentation').errors.pattern" i18n>Not a valid URL</span>
                        </div>
                    </div>
                    <div class="col-12">
                        <label><span i18n>Datalink</span><span class="font-italic text-muted" i18n> - Optional</span></label>
                        <input formControlName="dataLink" type="text" placeholder="Enter URL of data" class="form-control"
                               [ngClass]="{ 'is-invalid': submitted && getDataStreamElement(i, 'dataLink').errors }" i18n-placeholder>
                        <div *ngIf="(getDataStreamElement(i, 'dataLink').dirty || getDataStreamElement(i, 'dataLink').touched || submitted) && getDataStreamElement(i, 'dataLink').errors"
                             class="invalid-input">
                            <span class="required-text" *ngIf="getDataStreamElement(i, 'dataLink').errors.pattern" i18n>Not a valid URL</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
