<div [formGroup]="parentForm" class="form-group row">
    <div class="col-12">
        <span>Datastreams</span><span class="font-italic text-muted"> - Optional</span><br>
        <button type="button" class="btn btn-outline-secondary mt-2" (click)="addDataStream()">Add Datastream</button>
    </div>
    <div formArrayName="dataStreams"
         *ngFor="let dataStream of parentForm.get('dataStreams')['controls']; let i = index;"
         class="col-6 mt-3 form-group">
        <div class="row py-3 bg-light border rounded" formGroupName="{{i}}">
            <div class="col-12">
                <label>Name</label>
                <button (click)="removeDataStream(i)" type="button" class="close float-right" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <input formControlName="name" type="text" placeholder="Datastream name" class="form-control">
                <div *ngIf="(getDataStreamElement(i, 'name').dirty || getDataStreamElement(i, 'name').touched || submitted) && getDataStreamElement(i, 'name').errors"
                     class="invalid-input">
                    <span class="required-text" *ngIf="getDataStreamElement(i, 'name').errors.required">Name is required</span>
                </div>
            </div>
            <div class="col-12">
                <label>Reason<span class="font-italic text-muted"> - Optional</span></label>
                <input formControlName="reason" type="text" placeholder="Reason for the datastream" class="form-control">
            </div>
            <div class="col-12">
                <label>Description<span class="font-italic text-muted"> - Optional</span></label>
                <input formControlName="description" type="text" placeholder="Describe datastream" class="form-control">
            </div>
            <div class="col-12">
                <label>Observed Property<span class="font-italic text-muted"> - Optional</span></label>
                <input formControlName="observedProperty" type="text" placeholder="The property that is observed" class="form-control">
            </div>
            <div class="col-md-4 mt-1 text-left">
                <label>
                    <input type="checkbox" formControlName="isPublic">
                    Is Public
                </label>
            </div>
            <div class="col-md-4 mt-1 text-center">
                <label>
                    <input type="checkbox" formControlName="isOpen">
                    Is Open Data
                </label>
            </div>
            <div class="col-md-4 mt-1 text-right">
                <label>
                    <input type="checkbox" formControlName="isReusable">
                    Is Reusable
                </label>
            </div>
            <div class="col-12">
                <label>Documentation<span class="font-italic text-muted"> - Optional</span></label>
                <input formControlName="documentation" type="text" placeholder="Enter URL of documentation" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && getDataStreamElement(i, 'documentation').errors }">
                <div *ngIf="(getDataStreamElement(i, 'documentation').dirty || getDataStreamElement(i, 'documentation').touched || submitted) && getDataStreamElement(i, 'documentation').errors"
                     class="invalid-input">
                    <span class="required-text" *ngIf="getDataStreamElement(i, 'documentation').errors.pattern">Not a valid URL</span>
                </div>
            </div>
            <div class="col-12">
                <label>Datalink<span class="font-italic text-muted"> - Optional</span></label>
                <input formControlName="datalink" type="text" placeholder="Enter URL of data" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && getDataStreamElement(i, 'datalink').errors }">
                <div *ngIf="(getDataStreamElement(i, 'datalink').dirty || getDataStreamElement(i, 'datalink').touched || submitted) && getDataStreamElement(i, 'datalink').errors"
                     class="invalid-input">
                    <span class="required-text" *ngIf="getDataStreamElement(i, 'datalink').errors.pattern">Not a valid URL</span>
                </div>
            </div>
            <div class="col-12">
                <label>Unit of measurement<span class="font-italic text-muted"> - Optional</span></label>
                <input formControlName="measurementUnit" type="text" placeholder="Unit of Measurement" class="form-control">
            </div>
            <div class="col-12">
                <label>Data Frequency / s<span class="font-italic text-muted"> - Optional</span></label>
                <input formControlName="frequency" type="number" placeholder="Frequency" class="form-control">
            </div>
            <div class="col-12">
                <label>Data Quality (worst - best)</label>
                <input formControlName="dataQuality" type="range" step=0.01 min="0" max="1" placeholder="Quality" class="form-control p-0">
            </div>
        </div>
    </div>
</div>
