@import "../../../styles";

.input {
  border: 0;
  outline: 0;
}

.tags-input-wrapper {
  height: auto !important;
  position: relative !important;
}

.input-tag {
  margin-right: 0.2rem;
  position: relative;
  top: -3px;
  height: 20px;
}

.observation-goal-wrapper {
  position: relative;
  top: -3px;
}

.close-selected {
  margin-left: 0.3rem;
}
