<div class="container-fluid">
    <div class="row">
        <ul class="col-lg-12 nav nav-pills" id="navbar">
            <a class="navbar-brand">SensRNet
                Registration App</a>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">Owner<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a role="button" data-toggle="collapse" data-target="#registerOwnerForm">Register owner</a></li>
                    <li><a>Update owner</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">Sensor<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a role="button" data-toggle="collapse" data-target="#registerSensorForm">Register sensor</a>
                    </li>
                    <li><a>Update sensor</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">Zoeken <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </a>
                <ul class="dropdown-menu">
                    <ggc-search (searchComponentEventEmitter)="handleEvent($event)"></ggc-search>
                </ul>
            </li>
        </ul>

        <div class="col-lg-1" id="logo">
            <img src="assets\SensRNet-logo.png" width="145px" class="image">
        </div>
    </div>
    <div class="row">
        <div class="collapse col-lg-12" id="registerSensorForm">
            <div id="form-inside">
                <form [formGroup]="RegisterSensor" (ngSubmit)="submitCreateSensor()">
                    <div class="input-group">
                        <label> Name
                            <input class="form-control" type="text" formControlName="name" placeholder="Enter name">
                        </label>
                        <br>
                        <label> Aim
                            <input class="form-control" type="text" formControlName="aim"
                                placeholder="Aim of the sensor">
                        </label>
                        <br>
                        <label> Description
                            <textarea class="form-control" type="text" formControlName="description"
                                placeholder="Describe the sensor"></textarea>
                        </label>
                        <br>
                        <label> Manufacturer
                            <input class="form-control" type="text" formControlName="manufacturer"
                                placeholder="Enter name of the manufacturer">
                        </label>
                        <br>
                        <label>
                            <input type="checkbox" formControlName="active"> Active
                        </label>
                        <br>
                        <label> Documentation
                            <input class="form-control" type="url" formControlName="documentation"
                                placeholder="url of documentation">
                        </label>
                        <br>
                        <label> DataStreams
                            <input class="form-control" type="text" formControlName="dataStreams">
                        </label>
                        <br>
                        <br>
                        <a role="button" class="btn btn-success" (click)="startDrawPoint()">Select location</a>
                        <a role="button" class="btn btn-outline-primary" (click)="clearDrawing('srn')">Clear</a>
                        <br>
                        <hr>
                        <button class="btn btn-primary btn-lg" type="submit"
                            [disabled]="!RegisterSensor.valid">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="collapse col-lg-12" id="registerOwnerForm">
            <div id="form-inside">
                <form [formGroup]="RegisterOwner" (ngSubmit)="submitCreateOwner()">
                    <div class="input-group">
                        <label> Organisation name
                            <input class="form-control" type="text" formControlName="organisation"
                                placeholder="Enter name of organisation">
                        </label>
                        <br>
                        <label> Website
                            <input class="form-control" type="text" formControlName="website"
                                placeholder="Enter website of the organisation">
                        </label>
                        <br>
                        <label> Contact person
                            <input class="form-control" type="text" formControlName="contactPerson"
                                placeholder="Contact details of the person">
                        </label>
                        <br>
                        <label> Contact public
                            <input class="form-control" type="text" formControlName="contactPublic"
                                placeholder="Contact details of the organisation">
                        </label>
                        <hr>
                        <button class="btn btn-primary btn-lg" type="submit"
                            [disabled]="!RegisterSensor.valid">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="backgroundmap">
            <ggc-map [mapName]="'srn'" (events)="handleMapEvents($event)"></ggc-map>
            <ggc-layer-brt-achtergrondkaart [mapName]="'srn'"></ggc-layer-brt-achtergrondkaart>
        </div>
    </div>
</div>
