#navbar {
    position: absolute ;
    z-index: 20 ;
    width: 30vw ;
    padding: 0px 0px 0px 0px ;
    margin: 0px 0px 0px 0px ;
}

#logo {
    position: absolute;
    z-index: 10 ;
    margin-top: 10px ;
    margin-right: 0px ;
    padding: 0px 0px 0px 0px ;
    left: 83% ;
}

#form {
    position: absolute ;
    z-index: 40 ;
    margin: 0px ;
    padding: 0px 0px 0px 15px ;
    margin: 0px 0px 0px 10px ;
    top: 15vh;
    z-index: 1 ;
    width: 28vw ;
    height: 70vh ;
}

#backgroundmap {
    width: 100% ;
    height: 100vh ;
    padding-left: 0px;
    padding-right: 0px;
}

.map {
    width: 100vw;
    height: 85vh;
}
