<nav class="sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="sidebar-link text-center mb-2" routerLink="/devices" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <fa-icon icon="eye" class="mr-2"></fa-icon>
                    <br>
                    <em class="side-text" i18n>Devices</em>
                </a>
                <a class="sidebar-link text-center mb-2" routerLink="/observationgoals" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <fa-icon icon="bullseye" class="mr-2"></fa-icon>
                    <br>
                    <em class="side-text mx-1" i18n>Observation Goals</em>
                </a>
                <a class="sidebar-link text-center mb-2" routerLink="/organization" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <fa-icon icon="city" class="mr-2"></fa-icon>
                    <br>
                    <em class="side-text mx-1" i18n>Organization</em>
                </a>
                <a class="sidebar-link text-center" (click)="logout()">
                    <fa-icon icon="sign-out-alt" class="mr-2"></fa-icon>
                    <br>
                    <em class="side-text" i18n>Logout</em>
                </a>
            </li>
        </ul>
    </div>
</nav>


