@import "../../styles";

.sidebar-link {
  color: $bar-text-color !important;
  cursor: pointer !important;
}

.nav-item:hover {
  background-color: $light !important;
}

.active {
  color: $primary !important;
}
