@import "../../styles";

.sidebar-link {
  color: $theme-color-text !important;
  background-color: #eee;
}

.sidebar-link:hover {
  color: $theme-color-text !important;
  background-color: $theme-color-primary !important;
}

.active-link {
  background-color: $theme-color-primary !important;
}
