<div class="container-fluid">
    <app-navbar locationClass="form"></app-navbar>
    <div class="row form-header">
        <div class="col-1">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-6">
            <div>
                <h3>{{ organizationId }} <span i18n>Sensors</span></h3>
            </div>
            <hr>
            <table class="table table-striped table-hover table-bordered">
                <caption class="hidden" i18n>Sensors</caption>
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th class= "pointer" scope="col" (click)="sortByAttribute('name')"><span i18n>Name</span><em class="fas fa-sort ml-2"></em></th>
                    <th class= "pointer" scope="col" (click)="sortByAttribute('category')"><span i18n>Category</span><em class="fas fa-sort ml-2"></em></th>
                    <th class= "pointer" scope="col" (click)="sortByAttribute('typeName')"><span i18n>Type</span><em class="fas fa-sort ml-2"></em></th>
                    <th class= "pointer" scope="col" (click)="sortByAttribute('manufacturer')"><span i18n>Manufacturer</span><em class="fas fa-sort ml-2"></em></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let sensor of sensors; let i = index" class="pointer" (click)="selectSensor(sensor)">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ sensor.name }}</td>
                    <td>{{ sensor.category }}</td>
                    <td>{{ sensor.typeName }}</td>
                    <td>{{ sensor.manufacturer }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-5" style="height: 88vh; max-height: 88vh">
            <app-map searchBarHeight="2rem"></app-map>
        </div>
    </div>
</div>
