<div class="container-fluid h-100">
    <div class="row">
        <ggc-search (searchComponentEventEmitter)="handleEvent($event)"
                    placeholderTextAndAriaLabel="Zoeken op locatie"
                    id="search" class="p-0 m-0" [style.top]="searchBarHeight"></ggc-search>

        <ggc-dataset-tree [themes]="myLayers"
                          (datasetTreeEventEmitter)="handleDatasetTreeEvents($event)"
                          [currentMapResolution]="currentMapResolution" [iconCollapsed]="iconCollapsed"
                          [iconExpanded]="iconExpanded" [iconChecked]="iconChecked" [iconUnchecked]="iconUnchecked"
                          [iconInfoUrl]="iconInfoUrl" [hideTree]="hideTreeDataset"
                          id="layers" class="p-0 m-0"></ggc-dataset-tree>

        <div id="popup" class="ol-popup bg-white border-0 hidden mb-5">
            <div *ngIf="showInfo" class="row border mx-0">
                <div class="col-12 mx-0 mt-2">
                    <h4>{{ selectedSensor?.name }}</h4>
                </div>
            </div>
            <table *ngIf="showInfo" class="table table-bordered table-striped table-sm mb-0">
                <caption class="hidden">Sensor details</caption>
                <tbody>
                    <tr>
                        <td><strong>Category</strong></td>
                        <td><em>{{ selectedSensor?.typeName }}</em></td>
                    </tr>
                    <tr>
                        <td><strong>Type</strong></td>
                        <td><em>{{ selectedSensor?.typeDetails?.subType }}</em></td>
                    </tr>
                    <tr>
                        <td><strong><label for="selected-sensor-active" class="p-0 m-0">Active</label></strong></td>
                        <td>
                            <input type="checkbox" id="selected-sensor-active" class="pt-1 pb-0 my-0" [checked]="selectedSensor?.active" disabled>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="showInfo" class="row border mx-0">
                <div class="col-12 px-1 mx-0">
                    <div *ngIf="ownsSensor(selectedSensor); else viewSensor" class="row mx-0">
                        <div class="col-6 my-2 px-1">
                            <button (click)="editSensor()" class="btn btn-primary btn-sm btn-block">Edit</button>
                        </div>
                        <div class="col-6 my-2 px-1">
                            <button (click)="deleteSensor()" class="btn btn-danger btn-sm btn-block">Delete</button>
                        </div>
                    </div>
                    <ng-template #viewSensor>
                        <div class="col-12 my-2 px-1 mx-0">
                            <button (click)="editSensor()" class="btn btn-primary btn-sm btn-block">View</button>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <div class="row h-100">
        <div class="h-100 vw-100">
            <ggc-map [mapName]="'srn'" (events)="handleMapEvents($event)" [maxZoomlevel]="20"></ggc-map>
            <ggc-wmts-layer *ngFor="let dataset of activeWmtsDatasets" [layerName]="dataset.services[0].layers[0].name"
                [url]="dataset.services[0].url" [layer]="dataset.services[0].layers[0].technicalName"
                [mapName]="mapName" [minResolution]="dataset.services[0].layers[0].minResolution"
                [maxResolution]="dataset.services[0].layers[0].maxResolution"
                [zIndex]="dataset.services[0].layers[0].zIndex"
                [attributions]="dataset.services[0].layers[0].attributions">
            </ggc-wmts-layer>
            <ggc-wms-layer *ngFor="let dataset of activeWmsDatasets" [layerName]="dataset.services[0].layers[0].name"
                [url]="dataset.services[0].url" [layers]="dataset.services[0].layers[0].technicalName"
                [mapName]="mapName" [attributions]="dataset.services[0].layers[0].attributions"
                [minResolution]="dataset.services[0].layers[0].minResolution"
                [maxResolution]="dataset.services[0].layers[0].maxResolution"
                [zIndex]="dataset.services[0].layers[0].zIndex">
            </ggc-wms-layer>
            <ggc-map-details-container>
                <ggc-mouse-position [mapName]="'srn'"></ggc-mouse-position>
                <ggc-scale-denominator [mapName]="'srn'"></ggc-scale-denominator>
                <ggc-scale-line [mapName]="'srn'"></ggc-scale-line>
            </ggc-map-details-container>
        </div>
    </div>
</div>
