<div class="container-fluid h-100">
    <div class="row">
        <ggc-search (searchComponentEventEmitter)="handleEvent($event)"
                    placeholderTextAndAriaLabel="Zoeken op locatie"
                    id="search" class="p-0 m-0" [style.top]="searchBarHeight"></ggc-search>

        <ggc-dataset-tree [themes]="myLayers"
                          (datasetTreeEventEmitter)="handleDatasetTreeEvents($event)"
                          [currentMapResolution]="currentMapResolution" [iconCollapsed]="iconCollapsed"
                          [iconExpanded]="iconExpanded" [iconChecked]="iconChecked" [iconUnchecked]="iconUnchecked"
                          [iconInfoUrl]="iconInfoUrl" [hideTree]="hideTreeDataset"
                          id="layers" class="p-0 m-0"></ggc-dataset-tree>

        <div id="popup" class="ol-popup bg-white border-0 hidden mb-5">
            <table *ngIf="showInfo" class="table table-bordered table-striped table-sm mb-0">
                <caption class="hidden">Sensor details</caption>
                <thead>
                    <tr>
                        <th scope="col">Attribute</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>Name</strong></td>
                        <td><em>{{ selectedSensor?.name }}</em></td>
                    </tr>
                    <tr>
                        <td><strong>Sensortype</strong></td>
                        <td><em>{{ selectedSensor?.typeName }}</em></td>
                    </tr>
                    <tr>
                        <td><strong>Active</strong></td>
                        <td><em>{{ selectedSensor?.active }}</em></td>
                    </tr>
                    <tr *ngIf="selectedSensor && ownsSensor(selectedSensor)">
                        <td colspan=2>
                            <button (click)="editSensor()" class="btn btn-primary btn-sm btn-block">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row h-100">
        <div class="h-100 vw-100">
            <ggc-map [mapName]="'srn'" (events)="handleMapEvents($event)" [maxZoomlevel]="20"></ggc-map>
            <ggc-wmts-layer *ngFor="let dataset of activeWmtsDatasets" [layerName]="dataset.services[0].layers[0].name"
                [url]="dataset.services[0].url" [layer]="dataset.services[0].layers[0].technicalName"
                [mapName]="mapName" [minResolution]="dataset.services[0].layers[0].minResolution"
                [maxResolution]="dataset.services[0].layers[0].maxResolution"
                [zIndex]="dataset.services[0].layers[0].zIndex"
                [attributions]="dataset.services[0].layers[0].attributions">
            </ggc-wmts-layer>
            <ggc-wms-layer *ngFor="let dataset of activeWmsDatasets" [layerName]="dataset.services[0].layers[0].name"
                [url]="dataset.services[0].url" [layers]="dataset.services[0].layers[0].technicalName"
                [mapName]="mapName" [attributions]="dataset.services[0].layers[0].attributions"
                [minResolution]="dataset.services[0].layers[0].minResolution"
                [maxResolution]="dataset.services[0].layers[0].maxResolution"
                [zIndex]="dataset.services[0].layers[0].zIndex">
            </ggc-wms-layer>
            <ggc-map-details-container>
                <ggc-mouse-position [mapName]="'srn'"></ggc-mouse-position>
                <ggc-scale-denominator [mapName]="'srn'"></ggc-scale-denominator>
                <ggc-scale-line [mapName]="'srn'"></ggc-scale-line>
            </ggc-map-details-container>
        </div>
    </div>
</div>
