<div class="container-fluid">
    <app-navbar locationClass="form"></app-navbar>
    <div class="row form-header">
        <div class="col-1">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-11">
            <div>
                <h3>
                    <span *ngIf="legalEntity;else noLegalEntity">
                        <span i18n>My Organization</span>
                    </span>
                    <ng-template #noLegalEntity>
                        <span i18n>Organization</span>
                    </ng-template>
                </h3>
            </div>
            <hr>
            <div *ngIf="legalEntity;else createLegalEntity">
                <app-organization-update [legalEntity]="legalEntity" (updateLegalEntity)="getLegalEntity()"></app-organization-update>
            </div>
            <ng-template #createLegalEntity>
                <div class="btn-group btn-group-toggle mb-4" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        <input type="radio" name="options" autocomplete="off"
                               [checked]="activeUpdateView == UpdateViewEnum.Join"
                               (click)="activeUpdateView = UpdateViewEnum.Join">
                        <span i18n>Join</span>
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="options" autocomplete="off"
                               [checked]="activeUpdateView == UpdateViewEnum.Create"
                               (click)="activeUpdateView = UpdateViewEnum.Create">
                        <span i18n>Create</span>
                    </label>
                </div>
                <div *ngIf="activeUpdateView == UpdateViewEnum.Join">
                    <app-organization-join (updateLegalEntity)="getLegalEntity()"></app-organization-join>
                </div>
                <div *ngIf="activeUpdateView == UpdateViewEnum.Create">
                    <app-organization-create (updateLegalEntity)="getLegalEntity()"></app-organization-create>
                </div>
            </ng-template>
        </div>
    </div>
</div>
