<div class="container-fluid">
    <app-navbar locationClass="form"></app-navbar>
    <div class="row form-header">
        <div class="col-1">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-11">
            <div class="row">
                <div *ngIf="legalEntity" class="col-md-6 col-sm-12">
                    <div *ngIf="activeOrganizationView == OrganizationViewEnum.View;else viewUsers">
                        <h3><span i18n>Organization</span></h3>
                    </div>
                    <ng-template #viewUsers>
                        <h3><span i18n>Organization Users</span></h3>
                    </ng-template>
                </div>
                <div *ngIf="!legalEntity" class="col-md-6 col-sm-12">
                    <div *ngIf="activeUpdateView == UpdateViewEnum.Join;else registerActive">
                        <h3><span i18n>Join Organization</span></h3>
                    </div>
                    <ng-template #registerActive>
                        <h3><span i18n>Register Organization</span></h3>
                    </ng-template>
                </div>
                <div *ngIf="legalEntity" class="col-md-6 col-sm-12">
                    <div *ngIf="activeOrganizationView == OrganizationViewEnum.View;else viewUsers">
                        <a type="button" class="btn btn-primary float-right" (click)="activeOrganizationView = OrganizationViewEnum.Users">
                            <span class="mr-2" i18n>Organization Users</span>
                            <i class="ml-1 fas fa-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                    <ng-template #viewUsers>
                        <a type="button" class="btn btn-primary float-right" (click)="activeOrganizationView = OrganizationViewEnum.View">
                            <span class="mr-2" i18n>Organization Details</span>
                            <i class="ml-1 fas fa-arrow-right" aria-hidden="true"></i>
                        </a>
                    </ng-template>
                </div>
                <div *ngIf="!legalEntity" class="col-md-6 col-sm-12">
                    <div *ngIf="activeUpdateView == UpdateViewEnum.Join;else registerActive">
                        <a type="button" class="btn btn-primary float-right" (click)="activeUpdateView = UpdateViewEnum.Create">
                            <span class="mr-2" i18n>Register Organization</span>
                            <i class="ml-1 fas fa-plus" aria-hidden="true"></i>
                        </a>
                    </div>
                    <ng-template #registerActive>
                        <a type="button" class="btn btn-primary float-right" (click)="activeUpdateView = UpdateViewEnum.Join">
                            <span class="mr-2" i18n>Join Organization</span>
                            <i class="ml-1 fas fa-arrow-right" aria-hidden="true"></i>
                        </a>
                    </ng-template>
                </div>
            </div>
            <hr>
            <div *ngIf="legalEntity;else createLegalEntity">
                <div *ngIf="activeOrganizationView == OrganizationViewEnum.View">
                    <app-organization-update [legalEntity]="legalEntity" (setLegalEntityId)="setLegalEntityId($event)"></app-organization-update>
                </div>
                <div *ngIf="activeOrganizationView == OrganizationViewEnum.Users">
                    <app-organization-users></app-organization-users>
                </div>
            </div>
            <ng-template #createLegalEntity>
                <div *ngIf="activeUpdateView == UpdateViewEnum.Join">
                    <app-organization-join (setLegalEntityId)="setLegalEntityId($event)"></app-organization-join>
                </div>
                <div *ngIf="activeUpdateView == UpdateViewEnum.Create">
                    <app-organization-create (setLegalEntityId)="setLegalEntityId($event)"></app-organization-create>
                </div>
            </ng-template>
        </div>
    </div>
</div>
