@import "../node_modules/kadaster-huisstijl/dist/css/kadaster-huisstijl.css";
@import "../node_modules/bootstrap-select/dist/css/bootstrap-select.min.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.ol-overlaycontainer-stopevent .ol-zoom {
  top: auto;
  right: .5em;
  bottom: .5em;
  left: auto;
}

.ol-overlaycontainer-stopevent .ol-rotate {
  top: auto;
  right: .5em;
  bottom: 6.1em;
  left: auto;
}

.ol-overlaycontainer-stopevent .locate {
  top: auto;
  right: .5em;
  bottom: 4.1em;
  left: auto;
}


.ggc-dt-theme {
    padding-left: 0px !important;
}
