// Your variable overrides
$font-size-base: 0.8rem;
$line-height-base: 1.2;
$line-height-lg: 1.2;
$form-group-margin-bottom: 0.75rem;

$sizes: ();
$sizes: map-merge(
  (
    5: 5%,
    10: 10%,
    15: 15%,
    20: 20%,
    25: 25%,
    30: 30%,
    35: 35%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  ),
  $sizes
);

// Bootstrap and its default variables
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-select/sass/bootstrap-select.scss";
@import "ol/ol.css";
@import "ol-ext/dist/ol-ext.min.css";
@import "ol-layerswitcher/dist/ol-layerswitcher.css";

$bar-text-color: $gray-700;

.ol-overlaycontainer-stopevent .ol-zoom {
  top: auto;
  right: 0.5em;
  bottom: 2.5em;
  left: auto;
}

.ol-overlaycontainer-stopevent .locate {
  top: calc(.5em + 50px);
  left: 3em;
}

.ol-overlaycontainer-stopevent .ol-rotate {
  top: auto;
  right: 0.5em;
  bottom: 6.1em;
  left: auto;
}

.required-text {
  color: red;
  font-style: italic;
  font-weight: lighter;
}

.required {
  color: red;
}

.pointer {
  cursor: pointer;
}

.page-link {
  cursor: pointer;
}

.modal-window {
  opacity: 1 !important;
}

label {
  margin-top: 5px;
  color: #000000;
  font-style: normal;
  font-weight: normal
}

.form-check-input {
  margin-left: -1.25rem;
  margin-right: 0.5em;
}

.form-check-label {
  margin-left: 5px;
}

.form-group {
  .row {
    margin-left: 0;
    margin-right: 0;

    label {
      margin-right: 1em;
    }
  }
}

.form-header {
  margin-top: 72px;
}

.hover-shadow:hover {
  border-radius: 3px;
  background-color: rgb(247, 247, 247);
}
