// Your variable overrides
$body-bg: white;
$font-size-base: 1.25rem;

// Load client specific theme
@import 'theme';

// Bootstrap and its default variables
@import "kadaster-huisstijl/dist/css/kadaster-huisstijl.css";
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-select/dist/css/bootstrap-select.min.css";
@import "ol/ol.css";
@import "ol-ext/dist/ol-ext.min.css";
@import "ol-layerswitcher/dist/ol-layerswitcher.css";

.ol-overlaycontainer-stopevent .ol-zoom {
  top: auto;
  right: 0.5em;
  bottom: 2.5em;
  left: auto;
}

.ol-overlaycontainer-stopevent .ol-search {
  top: calc(.5em + 75px);
}

.ol-overlaycontainer-stopevent .locate {
  top: calc(.5em + 50px);
  left: 3em;
}

.ol-overlaycontainer-stopevent .ol-rotate {
  top: auto;
  right: 0.5em;
  bottom: 6.1em;
  left: auto;
}

.required-text {
  color: red;
  font-style: italic;
  font-weight: lighter;
}

.required {
  color: red;
}

.pointer {
  cursor: pointer;
}

.modal-window {
  opacity: 1 !important;
}

label {
  margin-top: 5px;
  color: #000000;
  font-style: normal;
  font-weight: normal
}

.form-check-input {
  margin-left: -1.25rem;
  margin-right: 0.5em;
}

.form-check-label {
  margin-left: 5px;
}

.form-group {
  .row {
    margin-left: 0;
    margin-right: 0;

    label {
      margin-right: 1em;
    }
  }
}

.form-header {
  margin-top: 72px;
}
