<div [formGroup]="form" class="form-group">
    <label for="type"><span i18n>Type</span></label>
    <select formControlName="typeName" class="form-control selectpicker" title="Nothing selected" data-live-search="true" i18n-title>
        <ng-container *ngFor="let sensorType of sensorTypes">
            <option class="font-weight-bold" [value]="sensorType.key">
                {{ sensorType.value }}
            </option>
            <option class="pl-5" *ngFor="let specificSensorType of sensorType.types" [value]="specificSensorType.key">
                {{ specificSensorType.value }}
            </option>
        </ng-container>
    </select>
    <div *ngIf="(f.typeName.dirty || f.typeName.touched || submitted) && f.typeName.errors" class="invalid-input">
        <span class="required-text" *ngIf="f.typeName.errors.required" i18n>Type is required</span>
    </div>
</div>
