<div [formGroup]="form" class="form-group">
    <label for="type"><span i18n>Type</span></label>
    <select formControlName="value" class="form-control selectpicker" data-live-search="true">
        <optgroup *ngFor="let sensorType of sensorTypes | keyvalue" label="{{ sensorType.key }}">
            <option *ngFor="let specificSensorType of sensorType.value | keyvalue" [value]="specificSensorType.value">
                {{ specificSensorType.value }}
            </option>
        </optgroup>
    </select>
    <div *ngIf="(f.value.dirty || f.value.touched || submitted) && f.value.errors" class="invalid-input">
        <span class="required-text" *ngIf="f.value.errors.required" i18n>Type is required</span>
    </div>
</div>
