<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <h2 i18n>Register</h2>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="email" i18n>E-mail</label> <span class="required">*</span>
                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div class="required-text" *ngIf="f.email.errors.required" i18n>E-mail is required</div>
                            <div class="required-text" *ngIf="f.email.errors.email" i18n>E-mail must be a valid e-mail address</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" i18n>Password</label> <span class="required">*</span>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div class="required-text" *ngIf="f.password.errors.required" i18n>Password is required</div>
                            <div class="required-text" *ngIf="f.password.errors.minlength" i18n>Password must be at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            <span i18n>Register</span>
                        </button>
                        <a routerLink="/login" class="btn btn-link" i18n>Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
