<div class="container-fluid">
    <app-navbar locationClass="form"></app-navbar>
    <div class="row form-header">
        <div class="col-1">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-11">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h3>
                        <span>Observation Goals</span>
                    </h3>
                </div>
                <div class="col-md-6 col-sm-12">
                    <a type="button" class="btn btn-primary float-right" routerLink="/observationgoal">
                        <span class="mr-2" i18n>Register Observation Goal</span>
                        <i class="ml-1 fas fa-plus" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <hr>
            <table class="table table-striped table-hover table-bordered">
                <caption class="hidden" i18n>Observation Goals</caption>
                <thead>
                <tr>
                    <th class="w-5" scope="col">#</th>
                    <th class="pointer w-20 hover-shadow" scope="col" (click)="setSort('name')">
                        <span i18n>Name</span>
                        <em [ngClass]="getSortClass('name')" class="ml-2"></em>
                    </th>
                    <th class="pointer w-25 hover-shadow" scope="col" (click)="setSort('description')">
                        <span i18n>Description</span>
                        <em [ngClass]="getSortClass('description')" class="ml-2"></em>
                    </th>
                    <th class="pointer w-20 hover-shadow" scope="col" (click)="setSort('legalGround')">
                        <span i18n>Legal Ground</span>
                        <em [ngClass]="getSortClass('legalGround')" class="ml-2"></em>
                    </th>
                    <th class="pointer w-20 hover-shadow" scope="col" (click)="setSort('legalGroundLink')">
                        <span i18n>Legal Ground Link</span>
                        <em [ngClass]="getSortClass('legalGroundLink')" class="ml-2"></em>
                    </th>
                    <th class="w-10" scope="col">
                        <span i18n>Actions</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let observationGoal of observationGoals; let i = index" class="pointer">
                    <th scope="row">{{ (pageSize * pageIndex) + i + 1 }}</th>
                    <td>{{ observationGoal.name }}</td>
                    <td>{{ observationGoal.description }}</td>
                    <td>{{ observationGoal.legalGround }}</td>
                    <td>{{ observationGoal.legalGroundLink }}</td>
                    <td class="px-1 pt-1 pb-0 m-0">
                        <button *ngIf="observationGoal.canEdit" type="button" class="btn btn-primary btn-sm p-1 mt-1 mb-1 mx-1" (click)="editObservationGoal(observationGoal._id)">
                            <span>
                                <em class="fas fa-pencil-alt m-1"></em>
                            </span>
                        </button>
                        <button *ngIf="observationGoal.canEdit" type="button" class="btn btn-danger btn-sm p-1 mt-1 mb-1 mx-0" (click)="removeObservationGoal(observationGoal._id)">
                            <span>
                                <em class="fas fa-trash-alt m-1"></em>
                            </span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav class="d-flex fixed-bottom justify-content-center mb-4">
                <ul class="pagination mb-0">
                    <li class="pointer" (click)="getPreviousPage()">
                        <span><em class="fa fa-chevron-left"></em></span>
                    </li>
                    <li class="pointer active">
                        <span class="content">{{ pageIndex + 1}}</span>
                    </li>
                    <li class="pointer" (click)="getNextPage()">
                        <span><em class="fa fa-chevron-right"></em></span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
